.cropContainer {
    display: flex;
    flex-flow: column nowrap;
    max-width: 700px;
    max-height: 700px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 20px;
}

.cropComponent,
.imgComponent {
    object-fit: contain;
    max-width: 700px;
    max-height: 700px;
    background-color: #fff;
}
