/* Container */

.cropContainer {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1000px;
    max-height: 1000px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 20px;
}

/* Crop and image container */

.cropComponent,
.imgComponent {
    object-fit: cover;
    overflow: hidden;
}

.cropComponent {
    max-width: 1000px;
    max-height: 1000px;
    background-color: #f3f3e0;
}

.imgComponent {
    max-width: 150px;
    min-height: 150px;
}
